.container1 {
    background-color: #2F3138;
    padding: 15px;
    position: relative;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.small_logo {
    position: absolute;
    width: 126px;
    height: 77px;
    left: 26px;
    top: 14px;
    background: url(logo2-small-white.png);
    }

.whoiswe {
    margin-right: 100px;
}

.home {
    margin-right: 100px;
}

.contacts {
    margin-right: 100px;
}

.it {
    margin-left: 30%;
    position: relative;
    vertical-align: top;
}

.de {
    margin-left: 20px;
    position: relative;
    vertical-align: top;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .container2
  {
    width: 100%;
    height: 480px;
  }