.container1 {
    background-color: #2F3138;
    padding: 15px;
    position: relative;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.small_logo {
    position: absolute;
    width: 126px;
    height: 77px;
    left: 26px;
    top: 14px;
    background: url(logo2-small-white.png);
    }

.whoiswe {
    margin-right: 100px;
}

.home {
    margin-right: 100px;
}

.contacts {
    margin-right: 100px;
}

.it {
    margin-left: 30%;
    position: relative;
    vertical-align: top;
}

.de {
    margin-left: 20px;
    position: relative;
    vertical-align: top;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
/*end of container1*/


.container2
  {
    width: 100%;
    height: 480px;
  }

.h1 {
    position: absolute;
    top: 150px;
    right: 60px;
    font-family: 'Castoro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: right;
    color: #2da4c6;
  }
  /*end of container2*/


  .container3 {
    position: relative;
    top: 155px;
    width: 100%;
    height: 420px;
    text-align: center;
  }

  .h2 {
    position: relative;
    top: 58px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #B1B1B1;    ;
  }

  .title {
    position: relative;
    top: 113px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #000000;
  }

  .text {
    position: relative;
    top: 174px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
    /*end of container3*/