#container {
  max-width: 1500px;
  margin: 0 auto;
}

#lang {
  text-align: end;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


header {
  text-align: center;
  background-color: #2F3138;
  padding: 5px;
}

footer {
  background-color: #2F3138;
  padding: 5px;
}

header nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header nav li {
  list-style: none;
  display: inline-block;
}

header nav ul {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);
}

nav a,
#lang a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 12px;
  color: #9c9c9c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover,
#lang a:hover {
  color: white;
}

#container-1,
#container-2,
#container-3 {
  text-align: center;
  padding: 100px;
}

#container-1,
#container-3 {
  background-color: #fefefe;
}

#container-2 {
  background-color: #F4F0F0;
}

#container-1 h2 {
  margin-top: 0;
}

#grid {
  display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

#grid p {
  text-align: justify;
}

h1,
h2,
h3 p {
  font-family: Arial, Helvetica, sans-serif;

}

h2 {
  color: #B1B1B1;
}

img {
  max-width: 100%;
  height: auto;
}

#lang #selected {
  color: white;
}

.parent {
  display: flex;
}

.child {
  flex: 50%;
}

iframe {
  height: 400px;
  width: 100%;
}

#orari {
  border-spacing: 10px;
  text-align: left;
  margin: 0 auto;
}

footer {
  text-align: center;
}

#button {
  text-align: right;
}

footer p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rights {
  color: rgb(162, 162, 162);
  font-family: sans-serif;
}

.back-to-top-button {
  background-color: #33659a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}


@media (max-width: 650px) {
  body {
    font-size: 80%;
  }

  .parent {
    display: block;
  }

  #grid {
    display: block;
    padding: 0;
  }

  #grid div {
    position: relative;
    margin: 0 0 2rem 1rem;
    padding: 1rem;
  }

  #container-1,
  #container-2,
  #container-3 {
    padding: 50px;
  }
}